body{
    background-color: #ee82ee;
}

main{
    text-align: center;
}

main p a{
    background-color: #e49d2c;
    color: white;
    border-radius: 4px;
    padding: 8px 24px;
}

main p a:hover{
    background-color: #dd8622;
}

form input{
    width: 50rem;
    height: 2rem;
    padding: 2px;
    border-radius: 5px;
    font-size: 1rem;
}

form button{
    height: 2rem;
    padding: 5px;
    font-size: 1rem;
    background-color: #dd8622;
    color: #ffe4c4;
}

form button:active{
    background-color: #e49d2c;
}

hr{
    width: 50%;
    border: dotted;
    border-radius: 25%;
}
