main{
    text-align: center;
}

/* main p a{
    background-color: #e49d2c;
    color: white;
    border-radius: 4px;
    padding: 8px 24px;
} */

/* main p a:hover{
    background-color: #dd8622;
} */

.form{
    display: flex;
    justify-content: space-around;
}

form input{
    width: 25rem;
    height: 2rem;
    padding: 2px;
    border-radius: 25px;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding: 5px 10px;
}

form button{
    width: 5rem;
    height: 2rem;
    padding: 2px;
    border-radius: 25px;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding: 5px 10px;
    background-color: #a15f13;
    color: #ffe4c4;
}

form button:active{
    background-color: #eeaf4a;
    color: #000000;
}

social{
    text-align: center;
}

.about{
    font-family: cursive;
    padding: 10px;
    background-color: #292727;
    width: fit-content;
    margin: 0 auto;
    border-radius: 15px;
}

.back{
    background-color: #44484c;
    border-radius: 15px;
    padding: 2.5px 0;
    margin: .5rem auto;
    width: 300px;
}

.back a{
    background-color: #3f3f42;
    padding: 10px;
    border-radius: 15px;
}

.search{
    background-color: #44484c;
    font-family: cursive;
    padding: .5rem;
    margin: 1rem auto;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}

.tut h2{
    background-color: #292727;
    padding: .25rem;
    border-radius: 10px;
    width: fit-content;
    margin: .5rem auto;
}

.tut span{
    background-color: #ffebcd;
    border-radius: 10px;
    color: #292727;
    padding: .25rem;
}

.ps{
    font-size: 10px;
    color: #1c1c1d;
    margin: .5rem auto;
}

.ps:hover{
    color: #f0f8ff;
}
