.js{
    background-color: #44484c;
    width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    padding: .5px 0;
}

.code{
    width: 600px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    margin: 1rem auto;
    display: block;
}

.metrics{
    display: block;
    background-color: #faebd7;
    width: 600px;
    height: 830px;
    margin: 1rem auto;
    border-radius: 10px;
    object-fit: contain;
}

.about{
    font-family: cursive;
    padding: 10px;
    background-color: #292727;
    width: 56rem;
    margin: 0 auto;
    border-radius: 15px;
}

.spotify{
    display: block;
    margin: 1rem auto;
}

.tut{
    background-color: #44484c;
    font-family: cursive;
    padding: .5rem;
    margin: 1rem auto;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.tut ul{
    list-style: none;
    padding-left: 0;
}

.tut li{
    background-color: #292727;
    margin: .5rem;
    padding: .5rem;
    border-radius: 10px;
}

.tut li:nth-of-type(2){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tut span{
    background-color: #ffebcd;
    border-radius: 5px;
    color: #292727;
    padding: .25rem 1rem;
}

.tut span:hover{
    background-color: #4b4848;
    color: #f0f8ff;
}

.img{
    display: block;
    margin: 1rem auto;
    text-align: center;
}

.cg{
    display: block;
    margin: 1rem auto;
    width: 900px;
    border-radius: 15px;
    object-fit: contain;
}

.b2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: .5rem;
    margin-right: .5rem;
}
