.npx{
    text-align: center;
    background-color: #44484c;
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: 700;
}

.js{
    background-color: #44484c;
    width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    padding: .5px 0;
}

.code img{
    border-radius: 10px;
}

.metrics{
    background-color: #faebd7;
    width: 600px;
    height: 830px;
    margin: 0 auto;
    border-radius: 10px;
}

.box{
    background-color: #4b4848;
    padding: 10px;
    width: 300px;
    margin: 20px auto;
    border-radius: 15px;
    text-align: center;
}

.about p{
    font-family: cursive;
    padding: 10px;
    background-color: #292727;
    width: 1000px;
    margin: 0 auto;
    border-radius: 15px;
}

.ps{
    font-size: 12px;
    color: #44484c;
}

.ps:hover{
    color: aliceblue;
}

.container{
    position: relative;
}

.text-block{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
