body{
    background-color: #22272e;
    color: aliceblue;
    margin: 0;
}

header{
    text-align: center;
}

hr{
    width: 60%;
}

a{
    text-decoration: none;
    color: aqua;
}

a:hover{
    color: bisque;
    font-weight: 700;
}
