body{
    background-color: #22272e;
    color: #f0f8ff;
    margin: 0;
}

header{
    text-align: center;
}

hr{
    width: 60%;
}

a{
    text-decoration: none;
    color: #00ffff;
}

a:hover{
    color: #ffe4c4;
    font-weight: 700;
}
